img{
	width:100%;
	display:block;
}
.box{
	width:100%;
	overflow: hidden;
	margin:20px 0;
	ul{
		width:90%;
		margin:0 auto;
		li{
			width:48%;
			float:left;
			margin-bottom:10px;
		}
		p{
			font-size:10px;
			text-align:center;
			margin:12px 0;
			white-space: nowrap;  
			text-overflow:ellipsis; 
			overflow:hidden;
		}
		li:nth-of-type(2n+1){
			margin-right:10px;
		}
		p:last-of-type{
			color:#FE767A;
		}
	}
}

